.header-bx{
    margin: 4px 0px;
    /* background: #edf0f3; */
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    width: 100%;

}

header .shopcart{ 
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

header .ant-menu{
    background: none;
    flex: 1 0 auto;
    align-items: center;
}

header form.header-form-search{
    display: flex;
    flex: 1 0 auto;
    align-items: center;
}


header .ant-btn-primary:hover, header .ant-btn-primary:focus{
    border-color: #ccc;
    background: #ddd;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
    color: #aaa;
}

.ant-avatar{
    background: #ccc;
    color: #fff;
}