.ant-layout{
    min-height: 100%;
}

.wrapper{
    width: 100%;
    max-width: 1400px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
}

.ant-layout-has-sider{
    height: auto;
    flex: 1 0 auto;
    display: block;
}

.ant-layout-header, .ant-layout-footer{
    background: #edf0f3;
    line-height: 1.2;
    height: auto;
    padding: 0;
}

.content-bx {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 8px;
    position: relative;
    overflow: hidden;
}

.mainpage_wrp{
    position: absolute;
    top: 0;bottom: 0;
    left: 0;width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ant-layout-sider,
.ant-breadcrumb,
.ant-layout-content{
    margin: 4px 0px;
    background: #edf0f3;
    border: 2px solid #ccc;
    border-radius: 6px; 
    padding: 15px;    
}

.ant-layout-sider{
    padding: 0;
}

.ant-layout-sider-children{
    padding: 15px;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-input-search .ant-input:hover, .ant-input-search .ant-input:focus{
    border-color: #ccc;
}

.ant-btn-primary{
    background: #ddd;
    border-color: #ddd;
}

.ant-menu{
    background: none;
}

.ant-layout-header, 
.ant-layout-footer{
    background: none;
}

.ant-menu-horizontal,
.ant-menu-inline, 
.ant-menu-vertical, 
.ant-menu-vertical-left{
    border:none;
}



.spiner-bx {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: stretch;
}

.ant-spin-nested-loading,
.ant-spin-container.ant-spin-blur,
.ant-alert-with-description.ant-alert-no-icon,
.ant-spin-nested-loading>div{
    height: 100%;
}

.ant-spin-nested-loading > div > .ant-spin{
    max-height: initial;
}

.ant-spin-nested-loading {
    background: #9c27b061;
    width: 100%;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-text{
    text-shadow: 0 1px 2px #9e9e9e;
    color: #fff;
}
